---
const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container">
    <div class="site-footer__grid">
      <div>
        <h4>O projektu</h4>
        <ul>
          <li><a href="/o-projektu">O webu</a></li>
          <li><a href="/zdroje">Zdroje a literatura</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><a href="/rss.xml">RSS kanál</a></li>
        </ul>
      </div>
      <div>
        <h4>Opevnění</h4>
        <ul>
          <li><a href="/o-opevneni/co-je-rop">Co je ŘOP</a></li>
          <li><a href="/o-opevneni/historie-a-politicky-kontext">Historie</a></li>
          <li><a href="/o-opevneni/mnichov-a-osud-opevneni">Mnichov 1938</a></li>
          <li><a href="/o-opevneni/fortifikacni-linie">Linie opevnění</a></li>
          <li><a href="/o-opevneni/nemecka-spionaz">Německá špionáž</a></li>
        </ul>
      </div>
      <div>
        <h4>Typologie</h4>
        <ul>
          <li><a href="/typologie/lo-vz-36">LO vz. 36</a></li>
          <li><a href="/typologie/lo-vz-37">LO vz. 37 (řopík)</a></li>
          <li><a href="/typologie/pechotni-srub">Pěchotní srub</a></li>
          <li><a href="/typologie/delostrelecka-tvrz">Dělostřelecká tvrz</a></li>
        </ul>
      </div>
      <div>
        <h4>Licence</h4>
        <ul>
          <li>Obsah: <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.cs" rel="license">CC BY-SA 4.0</a></li>
          <li>Kód: <a href="https://opensource.org/license/mit">MIT</a></li>
          <li><a href="/admin/" rel="nofollow">Redakční přístup</a></li>
        </ul>
      </div>
    </div>
    <div class="site-footer__bottom">
      <span>© {year} Ropiky.cz &nbsp;·&nbsp; Referenční portál o čs. opevnění</span>
      <span class="mono">v0.1 · beta</span>
    </div>
  </div>
</footer>
